<!-- Footer -->
      <footer id="footer">

        <!-- Icons -->
          <ul class="actions">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-letter"><span class="label">Facebook</span></a></li>
          </ul>

        <!-- Menu -->
          <ul class="menu">
            <li><a href="mailto: info@kara.solar">info@kara.solar</a></li><li>&copy; KaraSOLAR 2014</li>
          </ul>
      
      </footer>

        <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.poptrox.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.scrollgress.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/init.js"></script>