<!-- Assigning -->
{% assign count = '0' %}
{% assign next = '1' %}
{% assign slider_count = site.categories['slide'] | size %}
<!-- Start post capture -->
{% for post in site.categories['slide'] reversed %}
{% capture count %}{{ count | plus: '1' }}{% endcapture %}
{% capture next %}{{ next | plus: '1' }}{% endcapture %}
<section id="number{{ count }}" class="main style2 {{ post.side }} dark fullscreen">
	<div class="content box style2">
		<header>
			<h2>{{ post.title }}</h2>
		</header>
		<p>{{ post.content }}</p>
	</div>
	{% assign count = count | plus: 0 %}



	{% unless count ==  slider_count %}
	<a href="#number{{ next }}" class="button style2 down anchored">Next</a>
	{% endunless %}
</section>

<style>#number{{ count }} { background: url('/images/css/overlay.png'), url('/images/fullbg/{{ count }}.png');}</style>
<!-- This is the end -->
{% endfor %}
{% assign count = nil %}