<!-- One -->
	<section id="one" class="main style2 right dark fullscreen">
		<div class="content box style2">
			<header>
				<h2>Innovation</h2>
			</header>
			<p>At the heart of Kara Solar is an innovation in Amazonian transportation and energy: solar-powered boats. The boats work by capturing the sun’s energy rays with photovoltaic panels and storing the energy in batteries, which then power electric outboard motors.</p>
		</div>
		<a href="#two" class="button style2 down anchored">Next</a>
	</section>

<!-- Two -->
	<section id="two" class="main style2 left dark fullscreen">
		<div class="content box style2">
			<header>
				<h2>Tradition</h2>
			</header>
			<p>Traditional Amazonian canoes, with their long, thin hulls, require minimal propulsive force for high velocity. We are using fiberglass replicas of these hulls, which are lighter, longer lasting, and don’t require large trees for their construction.</p>
		</div>
		<a href="#threek" class="button style2 down anchored">Next</a>
	</section>

<!-- Three -->
	<section id="three" class="main style2 right dark fullscreen">
		<div class="content box style2">
			<header>
				<h2>Technology</h2>
			</header>
			<p>The on-board batteries are charged by roof-mounted solar panels and by plugging into on-shore charge stations. The roof-mounted panels increase the range of the boats, while the charge stations double as local micro-grids, providing the communities with additional electricity for education, healthcare, or other productive uses.</p>
		</div>
		<a href="#four" class="button style2 down anchored">Next</a>
	</section>

<!-- Four -->
	<section id="four" class="main style2 left dark fullscreen">
		<div class="content box style2">
			<header>
				<h2>Community based</h2>
			</header>
			<p>In its initial phase, the project will operate in 11 communities along 67 kilometres of the Pastaza and Capahuari rivers.We have successfully tested the technical design and the business plan is solid. Achuar communities have participated in every step of the project. We are ready to implement a 100% community-owned and operated solar river transport system. The time has come for Kara Solar.</p>
		</div>
		<a href="#work" class="button style2 down anchored">Next</a>
	</section>